<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="{{ url_for('home') }}" id="navbar__logo">Study Sphere</a>
            <div class="navbar__toggle" id="mobile-menu" aria-label="Toggle navigation menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="{{ url_for('dashboard') if session.get('username') else url_for('login') }}" class="navbar__link">Dashboard</a>
                </li>
                <li class="navbar__item">
                    <a href="{{ url_for('schedule') if session.get('username') else url_for('login') }}" class="navbar__link">Schedule</a>
                </li>
                
                <li class="navbar__btn">
                    <a href="{{ url_for('login') if not session.get('username') else url_for('logout') }}" class="button">
                        {{ 'Login' if not session.get('username') else 'Logout' }}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    

    <div class="container">
        <h2>Welcome, {{ name }}</h2>
        <div class="info">
            <h3>Your Details</h3>
            <p><strong>Name:</strong> {{ name }}</p>
            <p><strong>Email:</strong> {{ email }}</p>
            <p><strong>Age:</strong> {{ age }}</p>
            <h3>Recent Exam Results:</h3>
            <ul>
                {% for subject, grade in exam_results.items() %}
                    <li><strong>{{ subject }}:</strong> {{ grade }}</li>
                {% endfor %}
            </ul>
        </div>
    
        <div class="actions">
            <a href="{{ url_for('schedule') }}" class="btn">View Study Schedule</a>
            <a href="{{ url_for('edit_exam_results') }}" class="btn">Edit Exam Results</a>
            <a href="{{ url_for('logout') }}" class="btn">Logout</a>
        </div>
    </div>
</body>
</html>
